# Kredensial login akun TNBTS
TNBTS_USERNAME=email_anda@example.com
TNBTS_PASSWORD=password_anda

# URL booking. Ganti site (lembah-watangan, ranu-pani, dll) & tanggal sesuai kebutuhan
BOOKING_URL=https://bromotenggersemeru.id/booking/site/lembah-watangan?date_depart=2026-05-16

# Konfigurasi browser
HEADLESS=false
SLOW_MO=200
